{% extends "base.html" %}
{% block title%}
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tableAddMesseges");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
          //start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /*Loop through all table rows (except the
          first, which contains table headers):*/
          for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
          } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }    
    
    
    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableAddMesseges");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>
<h1> messeges from school</h1>
<h2> {{nowdate}} </h2>
<div>{{messege}} </div>
<h3>Search for someting?</h3>
<input id='myInput' onkeyup='searchTable()' type='text' placeholder="what to search? ">
{% comment %} {% endblock %} {% endcomment %}
{% endblock %}

<head>

</head>
<body>


    {% block form %}
    <form method="POST">
        {% comment %} {% csrf_token %} {% endcomment %}
        {{ form }}
        <input type="submit"  class="button success-button">
    </form>
    {% endblock %}

    {% block table %}
<table id="tableAddMesseges">
    <tr>
        <th onclick="sortTable(1)">name</th>
        <th onclick="sortTable(2)">messege</th>
        <th onclick="sortTable(3)">time</th>
    </tr>
    {% for m in Messeges %}
    <tr>
        <td>{{ m.1 }}</td>
        <td>{{ m.2 }}</td>
        <td>{{ m.3 }}</td>
        <td><form method="POST" action="/removeMesseges/"><input type="submit" class="button danger-button" value="remove"><input type="hidden" name="id" value={{m.0}}></form></td>
    </tr>
    {% endfor %} 
</table>
    {% endblock %}
</body>
