{% extends "base.html" %}

{% block title%}
<head>
<h1> our static: </h1>
{% comment %} {% endblock %} {% endcomment %}
</head>
{% comment %} {% block body %} {% endcomment %}
    
<body>
    <p> es In School: {{esInSchool}} </p>
    <p> students In School: {{studentsInSchool}} </p>
    <p> parents In School: {{parentsInSchool}} </p>
    <p> students in layer 7: {{c7}} </p>
    <p> students in layer 8: {{c8}} </p>
    <p> students in layer 9: {{c9}} </p>
    <p> students in layer 10: {{c10}} </p>
    <p> students in layer 11: {{c11}} </p>
    <p> students in layer 12: {{c12}} </p>

</body>
{% endblock %}
